@{ Layout = Url.Content("../Shared/_PagesLayout.cshtml");}
@{
    ViewBag.Title = "About";
}
@section HeaderSection {
<div class="container parallax-layer" data-opacity="true">
    <div class="media media-grid v-middle">
        <div class="media-left">
            <span class="icon-block half bg-blue-500 text-white"><i class="fa fa-history"></i></span>
        </div>
        <div class="media-body">
            <h3 class="text-display-2 text-white margin-none" style="font-size: 2.46rem;">ABECED </h3>
            <p class="text-white text-subhead"> Making Learning Easier and effective.</p>
        </div>
    </div>
</div>

    @*<div class="parallax-layer container" data-opacity="true">
        <div class="media v-middle">
            <div class="media-left">
                <span class="icon-block s60 bg-lightred"><i class="fa fa-history"></i></span>
            </div>
            <div class="media-body">
                <h2 class="text-display-1 margin-none">About ABECED </h2>

            </div>
            <div class="media-right">
                <a class="btn btn-white" href="website-directory-grid.html">Library</a>
            </div>
        </div>
    </div>*@
}
<div class="page-section">
    <div class="width-350 width-300-md width-100pc-xs paragraph-inline" style="width:320px;height:400px">
        <div class=""><!--embed-responsive embed-responsive-16by9-->
            <img src="@Url.Content("~/Content/Images/about_slide1.jpg")" width="95%" />
        </div>
    </div>
    <h6>It is important to allocate a specific  time to use ABECED on a daily basis.</h6>
    <p>
        <strong>Flash cards </strong>  are the core of the ABECED system. Each card will be repeated three times at increasing intervals. The number of repetitions are increased if you mark the answer as wrong.
        If it is a fact you are already familiar with you can postpone repetitions by using the Ask Later button. About ten minutes after the initial exposure the facts will be repeated again as a
        further step to securing them in your long term memory. The ten minute interval is also used to revise fact which you learned yesterday, last week, last month ect.


    </p>
    <p>
        Although not essential to the learning process the “Facts to Match” will significantly facilitate transfer from short term to long term memory. They can be down loaded and used
        any time – while jogging, cooking, in the bath ect. (It is not recommended that you use this system while engaged in an activity that requires special concentration eg driving a vehicle).
        It has been shown that breathing out then in during the silent period and then holding your breath during the information will increase retention. Also during the silent phase you can repeat
        (preferably aloud) the information you have just heard. Use both methods of revision. Do not try to cover to many new facts in one session – start with ten or less.


    </p>
    <br />
    <p>
        “Take a test” allows you to not only measure your result and progress but also to follow others in your selected group.
    </p>
</div>