@{
    Layout = "~/Views/Admin/_LayoutPage1.cshtml";
}
<div id="dropDownTreeView">
</div>


<div id="mainLayout">
    <div id="headerPane">
        <a href="#/"><div id="headerTitle">Kendo UI Web Extended API Examples</div></a>
    </div>
    <div id="navigationPane">
        <div class="pane-content">
        </div>
    </div>
    <div id="contentPane">
        <div id="widgetContent" class="pane-content">

        </div>
        <div id="comingSoon" class="pane-content">
            <div class="widget-title k-block">Coming Soon</div>
            Coming Soon
        </div>
    </div>
    <div id="sourceCodePane">
        <div class="pane-content">
            <div id="widgetCode">
            </div>
            <div id="comingSoonCode">
                Coming Soon
            </div>
        </div>
    </div>
</div>

<script type="text/javascript" src="@Url.Content("~/Scripts/KendoUiExt.DropDownTreeView.js")"></script>

