@{
    Layout = Url.Content("../Shared/_LayoutSign.cshtml");
    ViewBag.Title = "Change Password";
}

<fieldset style="text-align: left; background-color: #FFFFFF; border: 1px solid #C7C5C3;
    padding: 0px 0px 0px 50px">
    <legend id="legend2" style="width: 0px; color: #fff">.</legend>
    <br />
<div class="alert alert-success"  style="width:80%">

    Your password has been changed successfully.
</div>
<br />
</fieldset>
